
<app-navbar></app-navbar>

<div class="container">
  <router-outlet></router-outlet>
</div> 
<!--
<div class="container" >
  <form #userForm="ngForm" >
      <div class="form-group my-4">
        <label>Name</label>
        <input type="name" class="form-control" name="name" placeholder="*Enter_Name" ngModel >
        
      </div>
      <div class="form-group my-4 ">
          <label>Username</label>
          <input type="email" class="form-control" name="email" placeholder="*Enter_Email" ngModel >
          
        </div>
        <div class="form-group my-4 ">
          <label>Password</label> 
          <input type="password" class="form-control" name="password" placeholder="*Enter_Password" ngModel >
          
        </div>
      <button  type="submit" class="btn btn-warning my-4 " (click)="submit(userForm.value)" >Submit</button>
    </form>  
</div> -->

